@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'Alfa Slab One', sans-serif;
}
.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #000, #000, rgb(255, 0, 43),  rgb(255, 77, 103), rgb(255, 0, 43));
}
.travel-animation{
    height: 95vh;
    width: 40vw;
    background: #2A2734;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(2, 2, 2);
}
.travel-animation img{
    height: 70%;
    border-radius: 50%;
    z-index: 200;
    box-shadow: 3px 10px 10px rgb(24, 24, 24);
}
.travel-animation a{
    font-family: 'Alfa Slab One', 'poppins', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 10px;
    text-decoration: none;
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 3s linear infinite;
}
.travel-animation p{
    color:rgb(255, 0, 43);
    text-align: center;
    font-size: 1.5rem;
}
@keyframes glow {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.signing{
    border: 1px solid green;
    height: 90vh;
    width: 55vw;
    background: rgb(252, 242, 242);
    border-radius: 0 5% 5% 0;
    box-sizing: border-box;
}
.login-box h2 {
    margin: 30px 0 80px;
    padding: 0;
    color: rgb(75, 0, 67);
    text-align: center;
    font-size: 2.5rem;
}

.login-box .user-box input {
    position: relative;
    width: 80%;
    height: 2rem;
    margin-left: 8%;
    padding: 10px 10px;
    font-size: 1.2rem;
    color: rgb(75, 0, 67);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(52, 52, 52);
    outline: none;
    background: transparent;
    backdrop-filter: blur(4px) saturate(180%);
    border-radius: 10px;
}

.login-box .user-box label {
    position: relative;
    left: 0;
    top: -60px;
    padding: 10px 70px;
    font-size: 16px;
    color: rgb(75, 0, 67);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -100px;
    left: 0;
    color: rgb(255, 0, 43);
    font-size: 15px;
}

#submit {
    padding: 10px 20px;
    color: rgb(75, 0, 67);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid rgb(75, 0, 67);
    margin: auto;
    margin-left: 60px;
}

#submit:hover {
    background: rgb(199, 57, 185);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.button-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register {
    padding: 10px 0;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(75, 0, 67);
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a {
    font-style: oblique;
    margin: auto;
    color: rgb(75, 0, 67);
    text-decoration: none;
}
#register a:hover{
    text-decoration: underline;
}